<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permission for the plugin to be detected and receive scans -->
    <uses-permission android:name="dev.fabik.bluetoothhid.permission.RECEIVE_SCANS" />

    <!-- Required to send plugin results back -->
    <queries>
        <package android:name="dev.fabik.bluetoothhid" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="dev.fabik.bluetoothhid.plugin.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.ScanReceiver" android:exported="true"
            android:permission="dev.fabik.bluetoothhid.permission.RECEIVE_SCANS">
            <intent-filter>
                <action android:name="dev.fabik.bluetoothhid.action.BARCODE_SCANNED" />
            </intent-filter>
            <meta-data android:name="dev.fabik.bluetoothhid.plugin.label"
                android:value="Example Plugin" />
            <meta-data android:name="dev.fabik.bluetoothhid.plugin.shortLabel"
                android:value="Example" />
            <meta-data android:name="dev.fabik.bluetoothhid.plugin.author"
                android:value="The author" />
        </receiver>

        <receiver android:name=".receiver.ControlReceiver" android:exported="true"
            android:permission="dev.fabik.bluetoothhid.permission.RECEIVE_SCANS">
            <intent-filter>
                <action android:name="dev.fabik.bluetoothhid.plugin.action.SET_ENABLED" />
                <action android:name="dev.fabik.bluetoothhid.plugin.action.PING" />
            </intent-filter>
        </receiver>

    </application>

</manifest>